[submodule "darpa_cbs"]
	path = darpa_cbs
	url = https://github.com/trailofbits/cb-multios.git
[submodule "simple_programs"]
	path = simple_programs
	url = https://github.com/deadbits/InsecureProgramming
[submodule "Software-Analysis-Benchmark"]
	path = Software-Analysis-Benchmark
	url = https://github.com/Toyota-ITC-SSD/Software-Analysis-Benchmark
