[submodule "darpa_cbs"]
	path = darpa_cbs
	url = https://github.com/trailofbits/cb-multios.git
[submodule "simple_programs"]
	path = simple_programs
	url = https://github.com/deadbits/InsecureProgramming
[submodule "itc_benchmarks"]
	path = itc_benchmarks
	url = https://github.com/regehr/itc-benchmarks
